@import "variables";

.page-footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  width: 100%;
}

.container-footer {
  max-width: 1200px;
  padding-left: 120px;
}

.footer-link-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 15px;
}

.footer-link,
.footer-images {
  list-style-type: none;
}

.footer-link a {
  color: $grey;
}

.footer-navigation-links {
  padding: 0;
  margin: 0;
  width: 270px;
}

.footer-top{
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-navigation,
.footer-other {
  display: flex;
}

.footer-navigation {
  gap: 40px;
  justify-content: space-between;
}

.footer-other {
  gap: 16px;
  color: $grey;
}

.footer-images {
  padding: 0;
  display: flex;
  gap: 24px;
}

.footer-top {
  border-bottom: 1px solid $dark-grey;
}

@media(max-width: 1239px) {
  .footer-navigation {
    flex-direction: column;
    gap: 32px;
  }

  .footer-other {
    flex-direction: column;
    gap: 16px;
  }

  .container-footer {
    margin: 0;
    width: auto;
    padding: 0 20px;
  }
}