@import "variables";

.similar-title {
  padding-bottom: 48px;
  text-align: left;
}

.artist-similar .name {
  padding-top: 12px;
}

.page-similar .page-container {
  position: static;
  margin: 0 0 100px;
  padding-inline: 20px;
  max-width: 100%;
}

.artist-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 25px 50px;
  text-align: center;
}

.fan {
  color: $grey;
}

@media (max-width: 1239px) {
  .artist-list {
    grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
    gap: 25px 0;
  }

  .artist-similar img {
    width: 137px;
    height: 137px;
  }

  .artist-similar {
    width: 137px;
  }

  .page-similar .page-container {
    margin: 0;
  }
}